In [2]:
import pandas as pd
# loading the dataset
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
df = pd.read_csv(url)

df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [3]:
# The number of columns in the DataFrame
print(f"Number of columns: {df.shape[1]}")

Number of columns: 12

In [4]:
#the mean of the house prices
print(f"Mean of house prices: {df['price'].mean()}")

Mean of house prices: 234144.26395939087

In [5]:
# the median of the house prices
print(f"Median of house prices: {df['price'].median()}")

Median of house prices: 213750.0

In [6]:
# the different types of property in the dataset
print(list(set(df['type'])))

['Residential', 'Multi-Family', 'Condo', 'Unkown']

In [13]:
# he maximum price of a “Condo” in the dataset
print(df[df['type'] == 'Condo']['price'].max())

360000

In [14]:
# the mean of each type of property in the dataset:
print(df.groupby('type')['price'].mean())

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

In [15]:
# the count of different property types in the dataset:
print(df.groupby('type').size().sort_values(ascending=False))

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
dtype: int64